[Unit]
Description=Vigía agent watcher daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/python3 %VIGIA_DIR%/vigiad.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
